* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  background: aliceblue;
  font-family: Poppins, sans-serif;

  @media only screen and (min-width: 800px) {
    padding-top: 90px;
  }

  @media only screen and (max-width: 800px) {
    padding-top: 80px;
  }
}


.center {
  @include flexCenter(row, space-evenly, center);
  width: 100%;
}
