@mixin flexCenter($direction, $justifyContent, $alignContent) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignContent;
  flex-wrap: wrap;
}

@mixin navButton {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  letter-spacing: 1px;
  transition: $defaultTransition;

  @media only screen and (min-width: 900px) {
    &:hover {
      color: $ohOrange;
      transition: $defaultTransition;
    }
  }

  @media only screen and (max-width: 500px) {
    font-size: 1.8rem;
  }
}
