#navbar {
  position: fixed;
  z-index: 7;
  background: aliceblue;
  transition: $defaultTransition;

  div {
    button {
      @include navButton();
    }
  }

  .activeButton {
    font-weight: 700;
    color: $ohOrange;
  }

  .navIcon {
    border-radius: 50%;
    padding: 3px;
    font-size: 1.5em;
  }

  .icon-adult {
    color: aliceblue;
    background: rgba(dimgrey, 1);
    box-shadow: -5px 5px 0 $ohOrange;
    transition: $defaultTransition;
  }

  div:nth-child(1) {
    h1 {
      font-size: 2rem;
      font-weight: 900;
      letter-spacing: 0.9px;
      color: $ohOrange;
    }
  }

  @media only screen and (min-width: 1400px) {
    font-size: 1.5rem;
  }

  @media only screen and (max-width: 1400px) and (min-width: 1200px) {
    font-size: 1.3rem;
  }

  @media only screen and (max-width: 1200px) and (min-width: 800px) {
    width: 95% !important;
    left: 2.5% !important;
    font-size: 1.2rem;

    &:after {
      left: 2.5% !important;
    }
  }
  @media only screen and (max-width: 800px) {
    font-size: 1.8rem;
  }

  @media only screen and (min-width: 800px) {
    @include flexCenter(row, space-evenly, center);
    border-radius: 50px;
    top: 0;
    left: 10%;
    width: 80%;
    height: 80px;
    box-shadow: 1px 3px 5px #d2dce6;
    transition: $defaultTransition;

    &:after {
      content: '';
      pointer-events: none;
      position: fixed;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 10px;
      top: 0;
      left: 10%;
      width: 20%;
      height: 80px;
      box-shadow: -5px 5px 0 $ohOrange;
    }

    div {
      @include flexCenter(row, space-evenly, center);
    }

    div:nth-child(1) {
      width: 10%;
      cursor: pointer;
    }
    div:nth-child(2) {
      @media only screen and (min-width: 1300px) {
        width: 50%;
      }

      @media only screen and (max-width: 1300px) {
        width: 70%;
      }
    }
    div:nth-child(3) {
      width: 20%;
    }

    .icon-adult {
      &:hover {
        box-shadow: -5px 5px 15px $ohOrange;
        background: rgba(dimgrey, 0.2);
        color: $ohOrange;
      }
    }
  }

  @media only screen and (max-width: 800px) {
    @include flexCenter(column, space-evenly, center);
    top: 0;
    left: 102vw;
    height: 100vh;
    width: 95%;
    box-shadow: -2px 2px 5px $ohOrange;

    div {
      width: 100%;
      height: 50vh;
    }

    div:nth-child(1) {
      @include flexCenter(column, flex-end, start);
      padding-left: 20px;
      height: 10%;

      h1 {
        font-size: 2.5rem;
        font-weight: 800;
        color: $ohOrange;
      }
    }

    div:nth-child(2) {
      @include flexCenter(column, space-evenly, center);
      height: 60%;
    }

    div:nth-child(3) {
      @include flexCenter(row, space-evenly, center);
      height: 25%;
    }
  }
}

.navbar-active {
  @media only screen and (max-width: 800px) {
    left: 5% !important
  }
}

.smallNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: aliceblue;
  box-shadow: 0 2px 5px dimgray;

  h1 {
    font-size: 2.5em;
    margin: 10px auto;
    color: $ohOrange;
  }

  @media only screen and (min-width: 800px) {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    display: block;
  }
}

#navbarToggle {
  position: fixed;
  right: 2px;
  top: 2px;
  width: 60px;
  height: 60px;
  font-size: 2rem;
  font-weight: bolder;
  padding: 10px;
  rotate: 90deg;
  text-align: center;
  display: inline-block;
  transition: $defaultTransition;
  z-index: 8;
}

.navbar-toggle-active {
  rotate: 180deg !important
}
